.welcome--message {
    text-align: center;
    font-size: 38px;
    margin: 50px auto;
    font-weight: 900;
    letter-spacing: 1px;
    animation: slideUp linear 0.3s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}