* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f3f3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    padding: 40px 20px;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid #000;
    border-radius: 10px;
}